/* -------------------------------color-------------------------- */
:root{
 --color-primary:#2584ff;
 --color-secondary:#00d9ff;
 --color-accent:#ff3400;
 --color-headings:#1b0760;
 --color-body:#918ca4;
}
html{
    font-size: 62.5%;
}

/* ------------------------------topography------------------------------------------ */
body{
    font-family: Inter,Arial, sans-serif;
    color:var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}
h1,h2,h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
    
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
   
}
h3{
    font-size: 3rem;
   
}
p{
    margin-top: 0;
}

@media screen and (min-width:1024px) {
    body{
        font-size:1.8rem ;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size:2.4rem;
    }
}
/*-------------------------------------link----------------------------------------------*/
.link-arrow{
    color: var(--color-accent);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    
}
.link-arrow::after
{
    content: "-->";
    margin-left: 5px;
    transition:margin 0.15s;
}
.link-arrow:hover::after{
    margin-left: 10px;
}
@media screen and (min-width: 1024px) {
    .link-arrow{
        font-size: 1.5rem;
    }
}
/* ------badges------------- */
.badge
{   border-radius: 20px;
    font-weight: 600;
    font-size: 2rem;
    color: white;
    padding:0.5rem 2rem;
    white-space: nowrap;
}
.badge.badge--primary{
    background-color: var(--color-primary);
color: #fff;
}
.batch--secondary
{
    background-color: var(--color-secondary);
    color: #fff;
}
.badge--small{

   font-size: 1.6rem;
}
@media screen and (min-width:1024px) {
    .badge{
        font-size: 1.2rem;
    }
    .badge--small{
        font-size:1.2rem ;
    }
}
/* --------------list--- */
.list{
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}
.list--inline .list__items{
 display: inline-block;
 margin-right: 1.5rem;
}
.list--tick{
    margin-bottom: 1.2rem;
    padding-left: 2rem;
    list-style-image: url(./images/tick.svg);
}
.list--tick .list__items{
   padding-left: 0.5rem;
}
@media screen and(min-width:1024px) {
    .list--tick .list__items{
        padding-left: 0rem;
        margin-bottom: 1rem;
     }
}