/* -------------------------------color-------------------------- */
:root{
 --color-primary:#2584ff;
 --color-secondary:#00d9ff;
 --color-accent:#ff3400;
 --color-headings:#1b0760;
 --color-body:#918ca4;
 --color-border:#ccc;
}
*,*::before,*::after{
    box-sizing:border-box ;
}
html{
    font-size: 62.5%;
}

/* ------------------------------topography------------------------------------------ */
body{
    font-family: Inter,Arial, sans-serif;
    color:var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}
h1,h2,h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
    
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
   
}
h3{
    font-size: 3rem;
   
}
p{
    margin-top: 0;
}

@media screen and (min-width:1024px) {
    body{
        font-size:1.8rem ;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size:2.4rem;
    }
}
/*-------------------------------------link----------------------------------------------*/
.link-arrow{
    color: var(--color-accent);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    
}
.link-arrow::after
{
    content: "-->";
    margin-left: 5px;
    transition:margin 0.15s;
}
.link-arrow:hover::after{
    margin-left: 10px;
}
@media screen and (min-width: 1024px) {
    .link-arrow{
        font-size: 1.5rem;
    }
}
/* ------badges------------- */
.badge
{   border-radius: 20px;
    font-weight: 600;
    font-size: 2rem;
    color: white;
    padding:0.5rem 2rem;
    white-space: nowrap;
}
.badge.badge--primary{
    background-color: var(--color-primary);
color: #fff;
}
.batch--secondary
{
    background-color: var(--color-secondary);
    color: #fff;
}
.badge--small{

   font-size: 1.6rem;
}
@media screen and (min-width:1024px) {
    .badge{
        font-size: 1.2rem;
    }
    .badge--small{
        font-size:1.2rem ;
    }
}
/* --------------list--- */
.list{
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}
.list--inline .list__items{
 display: inline-block;
 margin-right: 1.5rem;
}
.list--tick{
    margin-bottom: 1.2rem;
    padding-left: 2rem;
    list-style-image: url(./images/tick.svg);
}
.list--tick .list__items{
   padding-left: 0.5rem;
}
@media screen and(min-width:1024px) {
    .list--tick .list__items{
        padding-left: 0rem;
        margin-bottom: 1rem;
     }
}
/* --------------icons-------------------- */
.icon{
    width: 40px;
    height: 40px;
    
}
.icon--primary{
   fill: var(--color-primary)
}
.icon-container{
    background-color:#f3f9fa;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -------button--------- */
.button
{
    font-size: 1.8rem;
    border-radius: 40px;
    text-transform: uppercase;
    text-align: center;
    margin:1rem 0;
    border:0;
    font-weight: 600;
    padding:2rem 3rem;
    color: white;
    white-space: nowrap;

    
}
.button--primary{
    background-color: var(--color-primary);
}
.button--primary:hover{
    background-color:#3a8ffd ;
}
.button--secondary
{
    background-color: var(--color-secondary);
}
.button--secondary:hover
{
    background-color:#00c8eb ;
}
.button--accent{
    background-color: var(--color-accent);
}
.button--accent:hover
{
  background-color: #ec3000;  
}

.button--block
{
    width: 100%;
    display:inline-block;
}
.button--outline{
    background-color: white;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}

@media screen and (min-width: 1024px) {
    .button{
        font-size: 1.5rem;

    }
}
/* -------------input---------- */
.text{
    border-radius: 30px;
    color:var(--color-headings);
    border:1px solid #ccc;
    font-size: 2rem;
    padding:1.5rem 3.5rem;
    outline:none;
    margin:1rem;

}
::placeholder{
    color: #cdcbd7;
}
.input-group{
    border:1px solid var(--color-border);
    border-radius: 30px;
    margin:1rem;
    display: flex;


}
.input-group .button{
    margin:4px;
}
.input-group .text{
    border:0;
    flex-grow: 1;
    padding:1.5rem 1rem;
}
@media screen and (min-width:1024px) {
    .text{
        font-size: 1.5rem;
    }
}