<div style="width: 50%; padding: 4rem;">
    <div class="plan plan--popular ">
    <div class="card card--secondry">
  
    <header class="card_header">
      <h3 class="plan__name">Entry</h3>
      <span class="plan__price">$14</span>
      <span class="plan__biling-cycle">/month</span>
      <span class="badge badge--secondary badge--small"></span>
      <span class="plan__description">Easy start on the cloud</span>
    </header>
    <header class="card_footer">
    <ul class="list list--tick">
      <li class="list__items">Unlimited Websites</li>
      <li class="list__items">Unlimited Bandwidth</li>
      <li class="list__items">100 GB SSD Storage</li>
      </ul>
    </header>