<section class="blockcontainer block-domain">
    <header class="block__header">
      <h2>Starting at $9 per month</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio.</p>
      <div class="input-group">
        <input type="text" class="text" placeholder="write your text here"></input>
        <button class="button button--accent "><svg class="icon icon_white">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg> Buy now</button>
    </div>
    <ul class="list block-domain_price">
      <li class=" badge badge--secondary ">.com$20.49</li>
      <li>.space$23.2</li>
      <li>.info$87.2</li>
      <li>.com$6.9</li>
      <li>.hel$86.80</li>
      <li>.gjoi$87.09</li>
    </ul>
    </header>
  </section>