<footer class="block block--dark footer">
    <div class="container grid footer__grid">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Product</h2>  
         <svg class="icon icon--white collapsible__icon">
           <use xlink:href="images/sprite.svg#chevron"></use>
         </svg> 
      </header>
      <div class="collapsible__content">
        <ul class="list  ">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
          </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">About</h2>  
         <svg class="icon icon--white collapsible__icon">
           <use xlink:href="images/sprite.svg#chevron"></use>
         </svg> 
      </header>
      <div class="collapsible__content">
        <ul class="list  ">
          <li><a href="#">Name</a></li>
          <li><a href="#">contact Details</a></li>
          <li><a href="#">Qualification</a></li>
          </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">learn</h2>  
         <svg class="icon icon--white collapsible__icon">
           <use xlink:href="images/sprite.svg#chevron"></use>
         </svg> 
      </header>
      <div class="collapsible__content">
        <ul class="list  ">
          <li><a href="#">Java Script</a></li>
          <li><a href="#">Oracle</a></li>
          <li><a href="#">Python</a></li>
          </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="">
      <p class="footer__copywrite">Copyright 2020 neha gupta</p>
    </section>
    </div>
     
  </footer> 